#hometable {border-left: 15px outset #0000CD; border-bottom: 6px outset #0000CD;}

h1 	{font-family:verdana; font-weight: bold; color: #3366ff; text-align: center; 
line-height: 1.5;}

h2	{font-family: verdana; font-size: 18pt; font-weight: bold; color: #339900; 
text-align: center; padding-bottom: 3pt}

h3 	{font-family: verdana; font-size: 12pt; font-weight: bold; color: #009F3C}

h4 	{font-family: verdana; font-size: 9pt; font-weight: normal; color: #990099;}

h5 	{font-family: verdana; font-size: 14pt; font-weight: normal; color: #0000BB; 
text-align: center; padding-bottom: 2pt}

p 	{font-family: verdana; font-size: 11pt; font-weight: normal;}

div 	{text-align: center}

li 	{font-family: verdana; font-size: 11pt; font-weight: normal; color: #000000;}

body	{font-family: verdana; font-size: 11pt; font-weight: normal; color: #000000; 
margin-top: 0pt}  
