/* cdpmain.css - for index pages */

#header {
	background-color: #f8f8f8;
	text-align: left;
	position: absolute;
	width: 100%;
	height: 115px;
	border: 0;
	margin: 0;
	top: 0;
	border-bottom: 4px solid #bb9a61;
}

/* Main page region (includes navbar) */
#main {
	background-color: #f8f8f8;
	position: relative;
	top: 102px;
          /* determines position of main panels below menu-bar */
	left: 0;
	margin: 0;
	padding: 0;
}


#navbar  {
	background-color: #efcf75;
	padding-left: 1%;
        padding-right: 1%;
        position: absolute;
	width: 13%;
	height: 100%;
	top: 0;
	clear: none;	
}

#right {
	background-color: #f8f8f8;
	border-left: 3px solid #bb9a61;
	position: relative;
	padding-left: 2%;
 	padding-right: 2.5%;
	left: 15%;
	width: 80%;
}

#footer {
	border-top: 3px solid #bb9a61;
}

h1 {
	color: #3366ff;
        font-family: "verdana", geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	line-height: 1.5;
}

h2 {
	color: #339900;
        font-family: "verdana", geneva, sans-serif;
	font-size: 16pt;
	font-weight: bold; 
	padding-bottom: 3pt;
}

h3 {
        font-family: "verdana", geneva, sans-serif;
	font-size: 11pt;
	font-weight: bold;
}

h4 {
	color: #990099;
        font-family: "verdana", geneva, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

h5 {
	color: #0000BB;
        font-family: "verdana", geneva, sans-serif;
	font-size: 13pt;
	font-weight: normal;
	text-align: center;
	padding-bottom: 2pt
}

p {
        font-family: "verdana", geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

dl	{
	text-align: left;
}

li 	{
	color: #000000;
        font-family: "verdana", geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
}

body	{
	color: #000000;
        font-family: "verdana", geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	margin-top: 0pt
}

