html {
  height: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
}
.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#left {
  flex-shrink: 0;
  background-color: white;
}
#right {
  background-color: #f3f3f3; /* colour altered */
  overflow: auto;
}
.top-left {
  flex-shrink: 0;
  background-color: #f8f8f8; /* colour altered */
  color: white;              /* not used  */
  padding: 0;                /* was 20px*/
  height: 96px;
  border-bottom: 20px solid #7D0000; /* added to simulate menu chunk */
}

.top-right {
  /* was -  display: inline-flex;  */ 
  flex-shrink: 0;
  background-color: #f8f8f8;  /* colour altered */
  color: black;               /* colour altered */   
  padding: 0;                 /*was 20px */
}

/* Bottom-left added to allow for difft. colour etc. */
.bottom-left {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #efcf75;  /* colour altered */
  border-right: 3px solid #bb9a61; /* added */
  border-top: 4px solid #bb9a61; /* added */

}

.bottom {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;  
  background-color: #f8f8f8;   /* colour altered */
  /* border-left: 3px solid #bb9a61;  added */
}

/* REMAINING LINES ADDED FROM CDP-DOCS */

#footer {
	border-top: 3px solid #bb9a61;  
}

/* Class for extra text if needed to pad out page */
.extra {
	background-color: #f8f8f8;
	color: #f8f8f8;
}


h1 {
	color: #3366ff;
        font-family: "verdana", geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	line-height: 1.5;
}

h2 {
	color: #339900;
        font-family: "verdana", geneva, sans-serif;
	font-size: 16pt;
	font-weight: bold; 
	padding-bottom: 3pt;
}

h3 {
        color: #800000;
        font-family: "verdana", geneva, sans-serif;
	font-size: 11pt;  /* previously 11pt */
	font-weight: bold;
}

h4 {
	color: #990099;
        font-family: "verdana", geneva, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

h5 {
	color: #0000BB;
        font-family: "verdana", geneva, sans-serif;
	font-size: 13pt;
	font-weight: normal;
	text-align: center;
	padding-bottom: 2pt
}

p {
        font-family: "verdana", geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

dl	{
	text-align: left;
}

li 	{
	color: #000000;
        font-family: "verdana", geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
}

body	{
	color: #000000;
        font-family: "verdana", geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	margin-top: 0pt
}

