/* STYLE SHEET FOR ctvmain.htm Tabula Vigilans Manual  */
/* (Based on cdpcssdf.css, as used for sdbats ) */



#head {
	background-color: #F8F8F8;
	text-align: left;
	border-bottom: 3px double #800000;
}

#left {
	background-color: #99FFCC;
	position: fixed;
	padding-left: 1%;
        padding-right: 1%;
	float: left;
	width: 15%;
	height: 100%;
	overflow: auto;
}

#right {
	background-color: #F8F8F8;
	border-left: 3px double #800000;
	float: left;
	position: relative;
	padding-left: 2%;
 	padding-right: 3%;
	left: 17%;
	width: 78%;
}

#footer {
	clear: both;
	border-top: 3px double #800000;
}


h1 	{font-family:verdana; font-weight: bold; color: #3366ff; text-align: center; 
line-height: 1.5;}

h2	{font-family: verdana; font-size: 18pt; font-weight: bold; color: #339900; 
text-align: center; padding-bottom: 3pt}

h3 	{font-family: verdana; font-size: 12pt; font-weight: bold; color: #800000}

h4 	{font-family: verdana; font-size: 9pt; font-weight: normal; color: #990099;
text-align: left; margin-right: 10%; padding-bottom: 3%}

h5 	{font-family: verdana; font-size: 14pt; font-weight: bold; color: #000000; 
text-align: center; padding-bottom: 1pt}

p 	{font-family: verdana; font-size: 11pt; font-weight: normal;}

dl	{text-align: left;}

/* div 	{text-align: left;}  */

li 	{
	color: #000000;
        font-family: "verdana", geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
}

body	{
	color: #000000;
        font-family: "verdana", geneva, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	margin-top: 0pt
}

table	{font-family: verdana; font-size: 10pt; font-weight: normal; color: #000000;} 
